@CHARSET "UTF-8";

#inspector_object_action_harvest_platform .harvest-timer {
    background: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 1px;
    padding: 6px 15px 7px 15px;
}

#inspector_object_action_harvest_platform .harvest-timer.styled:hover {
    background-color: #f8f8f8 !important;
}

#inspector_object_action_harvest_platform .harvest-timer.styled.running {
    background: #1385e5;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53b2fc), color-stop(100%, #1385e5));
    background: -webkit-linear-gradient(top, #53b2fc,#1385e5);
    background: -moz-linear-gradient(top, #53b2fc,#1385e5);
    background: -o-linear-gradient(top, #53b2fc,#1385e5);
    background: -ms-linear-gradient(top, #53b2fc,#1385e5);
    background: linear-gradient(top, #53b2fc,#1385e5);
    border: none;
}

#inspector_object_action_harvest_platform .harvest-timer.styled.running:hover {
    background: #0e7add;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #49a4fd), color-stop(100%, #0e7add));
    background: -webkit-linear-gradient(top, #49a4fd,#0e7add);
    background: -moz-linear-gradient(top, #49a4fd,#0e7add);
    background: -o-linear-gradient(top, #49a4fd,#0e7add);
    background: -ms-linear-gradient(top, #49a4fd,#0e7add);
    background: linear-gradient(top, #49a4fd,#0e7add);
}